body {
    margin: 0px;
    box-sizing: border-box;
    
}

header {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

div {
    text-align: center;
}

h1 {
    font-size: 40px;
}
p {
    font-size: 25px;
}

.answer-div {
    margin: 10px 0;
}

button {
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    border: 2px purple solid;
    background-color: grey;
    width: 250px;
}
button:hover {
    background-color: purple;
    color: white;
}
a {
    text-decoration: none;
}